</br>

<div id="login-div" class="small-3 small-centered columns">
  <h3>Login</h3>

  <%= form_tag sessions_path do %>

  	<div class="control-group">
      <div class="controls">
        <%= text_field_tag :username, params[:username], placeholder: "username" %>
      </div>
    </div>

  	<div class="control-group">
      <div class="controls">
        <%= password_field_tag :password, value: "password" %>
      </div>
    </div>

    <div class="actions"><%= submit_tag "login" %></div>
  <% end %>
</div>