<h1>Listing students</h1>
<div class="row">
  <div class="small-6 columns">
    <%= render :partial => "active_students" %>
  </div>
  <div class="small-2 columns">
    &nbsp;
  </div>
  <div class="small-4 columns">
    <%= render :partial => "inactive_students" %>
  </div>
<div>
