<div class="row">
  <div class="small-5 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <h1>Student Details</h1>
    <%= render :partial => "student_details" %>
  </div>

  <div class="small-5 small-centered columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <%= render :partial => "registered_camps" %>
  </div>
  <div class="small-2 columns">
  </div>
</div>
