<% unless Registration.where(camp_id: @camp.id).to_a.empty? %>
<h4>Registered Students</h4>
	<table>
		<tbody>
			<tr>
				<th>Name</th>
				<th>Rating</th>
			</tr>
			<% Registration.where(camp_id: @camp.id).to_a.each do |registration| %>
			<tr>
				<td><%= link_to "#{registration.student.name}", student_path(registration.student) %></td>
				<td><%= registration.student.rating == 0 ? "Unrated" : registration.student.rating %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>