<div class="row">
  <div class="small-5 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <h1>Family Details</h1>
    <%= render :partial => "family_details" %>
  </div>

  <div class="small-3 small-centered columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <%= render :partial => "associated_students" %>
  </div>
  <div class="small-4 columns">
  </div>
</div>
