<h1>Family Details</h1>

<div class="row">
  <div class="small-5 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "family_details" %>
  </div>

  <div class="small-3 small-centered columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
  </div>
  <div class="small-4 columns">
  </div>
</div>
